#rcorners1 {
    border-radius: 10px;
    display: inline-table;
    border: 2px solid #020202;
    padding: 10px;
    background-color: rgb(211, 210, 196)
  }


  .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 5%;
    margin-top: 6%;
    margin-left: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #913b5d,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #122b4f, 0 0 1.5rem #122b4f,
      -0.2rem 0.1rem 1rem #122b4f, 0.2rem 0.1rem 1rem #122b4f,
      0 -0.5rem 2rem  #122b4f, 0 0.5rem 3rem  #122b4f;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #1d62c3,
        -0.2rem 0.1rem 1rem #2a6bc5, 0.2rem 0.1rem 1rem #1f5fb9,
        0 -0.5rem 2rem #2861b2, 0 0.5rem 3rem #1f60bd;
    }
    28%,
    33% {
      color: #528ad7;
      text-shadow: none;
    }
    82%,
    97% {
      color: #416eae;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #205e9c;
      text-shadow: none;
    }
    100% {
      color: #416eae;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #416eae,
        -0.2rem 0.1rem 1rem #416eae, 0.2rem 0.1rem 1rem #416eae,
        0 -0.5rem 2rem #416eae, 0 0.5rem 3rem #416eae;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
 
